.container {
    background-color: blanchedalmond;
    width: 100%;
    display: inline-block;
    align-content: center;
}

.topBar{
    float: left;
    background-color: blanchedalmond;
    padding-right: 45px;
}

.pHover {
  padding-right: 45px;
  position: relative;
  font-size: 25px;
}

.dropDownMenu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  padding: 13px;
  z-index: 1;
}

.topBar:hover .dropDownMenu {
    display: block;
    background-color: blanchedalmond;
}

.mainInfo {
    margin: auto;
    margin-top: 20vh;
    background-color: wheat;
    width: 50vw;
    height: 50vh;
    border-radius: 12px;
    overflow: auto;
    text-align: center;
}